extends layout

block content
  //- ul(id="menu")
  //-   li(data-menuanchor='start' class='active')
  //-     a(href='#start') Expose
  //-   li(data-menuanchor='func')
  //-     a(href='#func') Функции
  //-   li(data-menuanchor='why')
  //-     a(href='#why') Зачем?
  //-   li(data-menuanchor='team')
  //-     a(href='#team') Команда
  if posted
    div(class='posted')
      h1 Спасибо за отзыв!
  button(class='subscribe-btn') Подпишись и стань одним из первых пользователей!
  div(class='subscribe-form')
    form(class='subscribe-content' method='POST' action='')
      input(type='email' placeholder='email' name='_email')
      button(type='submit') Подписаться
  div(class='content')    
    div(class='section start') 
      div(class='title')
        div
          h1 Expose
          if artist
            p Устройте свою выставку в дополненной реальности не выходя из дома!
          else
            p Устройте выставку прямо у Вас дома!
      div(class='titleimg')
        img(src='images/1.png')
    div(class='section why')
      center
        ul
          if artist
            li Вы пишете картины и ищете покупателей?
            li Участие в выставках обходится слишком дорого?
            li Приходится носить много материала для подготовке к выставке?
            li Хотите интересно и современно показать миру свое творчество?
          else
            li Вы обустраиваете Ваш интерьер?
            li Хотите примерить картину?
            li В вашем городе редко проходят интересные выставки?
            li Не желаете тратить время на поездку за тем, что может Вам не понравиться?
    div(class='section func')
      div(class='leftdiv')
        if artist
          div(class='piece')
            h2 Новый формат выставок в дополненной реальности
          img(src='images/5.png')
        else
          div(class='piece')
            h2 Работы всех художников мира в одном приложении
          img(src='images/2.png')
      div(class='centerdiv')
        if artist
          div(class='piece')
            h2 Открой свою AR-выставку
          img(class='center-img' src='images/4.png')
        else    
          p Для организации виртуальной выставки картин теперь достаточно ровных стен и нашего приложения дополненной реальности
      div(class='rightdiv')
        if artist
          div(class='piece')
            h2 Твою выставку cможет посетить весь мир
          img(src='images/2.png')
        else
          div(class='piece')
            h2 Понравилась картина? Примерь ее в свой интерьер
          img(src='images/3.png')
    div(class='section team')
      div(class='leftdiv-last')
        div(class='about')
          h2 Интересно? Пишите нам!
          h3 exposeapp@hotmail.com
          form(method='POST' action='')
            input#name.form-control(class='a-name' type='text', placeholder='Имя' name='_name' required)
            input#email.form-control(class='a-mail' type='email', placeholder='email' name='_email')
            textarea#message.form-control(class='a-msg' type='text', placeholder='Сообщение' name='_message' required)
            button.btn.btn-primary(class='btn') Отправить  
      div(class='rightdiv-last')
        div(class='logo')
          img(src='images/logo.png')
          h2 Team Reward
        div(class='teamitem')
          h2 Костин Дмитрий
          h3 Team lead
        div(class='teamitem')
          h2 Мартынова Анастасия
          h3 Маркетолог
        div(class='teamitem')
          h2 Шмелев Владлен
          h3 Программист
        div(class='teamitem')
          h2 Игонина Наталья
          h3 Маркетолог
        div(class='teamitem')
          h2 Цедрик Никита
          h3 Программист
        div(class='teamitem')
          h2 Черныш Татьяна
          h3 Дизайнер      
            
            
