extends layout

block content
  h1= title 
  p Welcome to #{title}
  div(id='fullpage')
    div(class='section') Section1
    div(class='section') Section1
    div(class='section') Section1
    div(class='section') Section1
