extends layout

block content
  //- ul(id="menu")
  //-   li(data-menuanchor='start' class='active')
  //-     a(href='#start') Expose
  //-   li(data-menuanchor='func')
  //-     a(href='#func') Функции
  //-   li(data-menuanchor='why')
  //-     a(href='#why') Зачем?
  //-   li(data-menuanchor='team')
  //-     a(href='#team') Команда
  div(id='fullpage')
    div(class='section start') 
      div(class='title')
        div
          h1 Expose
          p Устройте выставку прямо у Вас дома!
      div(class='rightdiv')
        img(src='images/1.png')
    div(class='section why')
      ul
        li Вы обустраиваете ваш интерьер?
        li Хотите примерить картину?
        li В вашем городе редко проходят интересные выставки?
        li Не хотите тратить время на поездку за тем, что может Вам не понравиться?
    div(class='section func')
      div(class='leftdiv')
        div(class='piece')
          h2 Работы всех художников мира в одном приложении
          img(src='images/2.png')
      div(class='rightdiv')
        div(class='piece')
          h2 Понравилась картина? Примерь ее в свой интерьер
          p Для организации виртуальной выставки картин теперь достаточно 
          p(class='secondp') ровных стен и нашего приложения дополненной реальности
          img(src='images/3.png')
    div(class='section team')
        div(class='teamlist')
          div(class='logo')
            img(src='images/logo.png')
            h2 Team Reward
          div(class='teamitem')
            img(src='images/t1.png')
            h2 Костин Дмитрий
            h3 Team lead
          div(class='teamitem')
            img(src='images/t2.png')
            h2 Анастасия Мартынова
            h3 Маркетолог
          div(class='teamitem')
            img(src='images/t3.png')
            h2 Шмелев Владлен
            h3 Программист
          div(class='teamitem')
            img(src='images/t4.png')
            h2 Наталья Игонина
            h3 Маркетолог
          div(class='teamitem')
            img(src='images/t5.png')
            h2 Цедрик Никита
            h3 Программист
          div(class='teamitem')
            img(src='images/t6.png')  
            h2 Татьяна Черныш
            h3 Дизайнер      
            
            
