body {
  margin:0;
  padding:0;
  overflow-x:hidden;
  width: 100%;
  font: 14px "Product Sans", "Lato", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: "Product Sans";
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  color: white;
}

body, div {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'GlacialIndifferenceRegular'; 
  font-weight: normal; 
  font-style: normal; 
  font-size: 60pt;
}

.section {
  width: 100%;
  height: 1080px;
}

.start {
  background:
    linear-gradient(
      rgba(81, 109, 107, 0.95), 
      rgba(81, 109, 107, 0.95)
    ),
    url('/images/b1.jpg');
  background-repeat: no-repeat;
  background-size: cover;  
}

.why {
  background:
    linear-gradient(
     rgba(81, 109, 101, 0.95), 
     rgba(81, 109, 101, 0.95)
    ),
    url('/images/b2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.func {
  background:
    linear-gradient(
      rgba(81, 109, 100, 0.95), 
      rgba(89, 109, 100, 0.95)
    ),
    url('/images/b3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.team {
  background:
    linear-gradient(
      rgba(81, 109, 100, 0.95), 
      rgba(89, 109, 100, 0.95)
    ),
    url('/images/b4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.start center {
  height: 100px;
  line-height: 200%;
}

.start center h1 {
  margin: 0;
  font-family: inherit;
  font-size: 300%;
}

.start center h2 {
  margin: 0;
  font-size: 250%;
}

.title {
  position: relative;
  float: left;
  margin: auto 0;
  width: 50%;
  height: 50%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 40px;
  line-height: 50px;
}

.title div {
  margin: 0 auto;
  width: 80%;
}

.title h1 {
  font-size: 100px;
}

.titleimg, .rightdiv {
  float: right;
  width: 45%;
  height: 100%;
  text-align: center;
}

.titleimg img {
  position: relative;
  float: left;
  margin-left: 30%;
  max-width: 60%;
  height: auto;
  top: 40%;
  transform: translateY(-40%);
}

center {
  position: relative;
  height: 90%;
  top: 10%;
  transform: translateY(-10%);
}

.why ul {
  position: relative;
  margin: 0;
  width: 70%;
  height: 50%;
  top: 20%;
  transform: translateY(-20%);
}

.why ul li {
  line-height: 90px;
}

@media only screen and (min-width: 1300px) {
  .why ul li {
    font-size: 60px;
  }
}

@media only screen and (max-width: 1300px) {
  .why ul li {
    font-size: 50px;
  }
}

.leftdiv {
  float: left;
  width: 40%;
  height: 100%;
  text-align: center;
}

.rightdiv {
  width: 40%;
}

.piece {
  margin-bottom: 3%;
  width: 100%;
  height: 12%;
  text-align: center;
}

@media only screen and (min-width: 1715px) {
  .piece {
    margin-bottom: 5%;
    height: 6%;
  }

  .piece h2 {
    font-size: 50px;
    line-height: 40px;
  }
}

.centerdiv {
  float: left;
  width: 20%;
  height: 100%;
  text-align: center;
}

.centerdiv p {
  position: relative;
  margin: 0;
  width: 100%;
  height: 50%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 200%;
  line-height: 80%;
}

@media only screen and (max-width: 1715px) {
  .piece {
    margin-bottom: 5%;
    height: 10%;
  }

  .piece h2 {
    font-size: 40px;
    line-height: 30px;
  }

  .centerdiv p {
    font-size: 150%;
  }
}

img {
  max-width: 80%;
  height: auto;
}

.center-img {
  margin-top: 5%;
  margin-left: -5%;
  max-width: 120%;
}


.leftdiv-last {
  float: left;
  width: 60%;
  height: 100%;
}

.rightdiv-last {
  float: right;
  width: 40%;
  height: 100%;
}

.about {
  position: relative;
  margin: auto auto;
  width: 80%;
  height: 50%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 40px;
  line-height: 50px;
}

@media only screen and (max-width: 1315px) {
  .about h3 {
    font-size: 30px;
  }
}

.rightdiv-last .logo img {
  margin-top: 5%;
  width: 30%;
}

.logo h2 {
  font-size: 50px;
  color: rgb(227, 240, 237);
}

.about form {
  margin: 0 auto;
  width: 80%;
  height: 40%;
}

input#name.form-control {
  float: left;
  width: 45%;
  height: 20%;
  font-size: 30px;
  font-family: inherit;
  border: 0;
}

input#email.form-control {
  float: right;
  width: 45%;
  height: 20%;
  font-size: 30px;
  font-family: inherit;
  border: 0;
}

textarea#message.form-control {
  float: left;
  margin-top: 1%;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  max-width: 100%;
  font-size: 30px;
  font-family: inherit;
  border: 0;
}

.about button {
  margin-top: 1%;
  width: 100%;
  height: 25%;
  font-size: 30px;
  font-family: inherit;
  background: rgb(227, 240, 237);
  border: 1px solid white;
  color: rgb(56, 55, 55);
}

.subscribe-btn {
  margin: 0px;
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  transform-origin: bottom left;
  position: fixed;
  top: 15%;
  max-width: 40%;
  max-height: 5%;
  z-index: 15;
  text-align: center;
  font-size: 80%;
  font-family: inherit;
  background: rgb(224, 207, 160);
  border: 1px solid rgba(227, 240, 237, 0);
  border-radius: 10px 10px 0 0;
}

.subscribe-btn:focus {
  outline: none; 
}

.content-blured {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.subscribe-form {
  display: none;
  position: fixed;
  z-index: 17;
  width: 100%;
  height: 100%;
  background-color: rgba(54, 71, 67, 0.699);
}

.subscribe-content {
  position: relative;
  margin: auto auto;
  width: 50%;
  height: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.subscribe-content input, .subscribe-content button {
  position: relative;
  margin: 0 10%;
  padding-left: 2%;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;         
  width: 80%;
  height: 20%;
  top: 30%;
  transform: translateY(-30%);
  font-size: 150%;
  background: white;
  border: 0;
  border-radius: 5px;
  outline: none;
}

.subscribe-content button {
  margin-top: 5%;
  padding-left: 0;
  color: white;
  background: rgb(123, 145, 143);
}

@keyframes anim {
  0%   {top: -20%; opacity: 0;}
  25%  {top: -3%; opacity: 0.5;}
  50%  {top: 2%; opacity: 1;}
  100% {top: -20%; opacity: 0;}
}

.posted {
  position: fixed;
  padding-top: 1%;
  left: 35%;
  top: 2%;
  width: 30%;
  height: 10%;
  text-align: center;
  background: rgb(114, 185, 160);
  border: 0;
  border-radius: 100px;
  -webkit-animation-name: anim; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
  animation-name: anim;
  animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.posted h1 {
  font-family: inherit;
  font-size: 150%;
  color: white;
}