body {
  padding: 50px;
  font: 14px "Product Sans", "Lato", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: "Product Sans";
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
  color: white;
}

a {
  color: #00B7FF;
}

h1 {
  font-family: 'GlacialIndifferenceRegular'; 
  font-weight: normal; 
  font-style: normal; 
  font-size: 60pt;
}

.start .func .why .team {
  background-repeat: no-repeat;
  background-size: cover;
}

.start {
  background:
    linear-gradient(
      rgba(81, 109, 107, 0.95), 
      rgba(81, 109, 107, 0.95)
    ),
    url('/images/b1.jpg');
  background-repeat: no-repeat;
  background-size: cover;  
}

.why {
  background:
    linear-gradient(
     rgba(81, 109, 101, 0.95), 
     rgba(81, 109, 101, 0.95)
    ),
    url('/images/b2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.func {
  background:
    linear-gradient(
      rgba(81, 109, 100, 0.95), 
      rgba(89, 109, 100, 0.95)
    ),
    url('/images/b3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.team {
  background:
    linear-gradient(
      rgba(81, 109, 100, 0.95), 
      rgba(89, 109, 100, 0.95)
    ),
    url('/images/b4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  float: left;
  text-align: center;
  margin-top: 300px;
  margin-left: 200px;
  width: 600px;
  height: 600px;
}

.leftdiv {
  float: left;
  text-align: center;
}

.leftdiv div {
  margin-left: 200px;
  width: 600px;
  height: 600px;
}

.rightdiv {
  float: right;
  margin-right: 200px;
  text-align: center;
}

.why ul {
  margin: 0 auto;
  width: 1000px;
  height: 1000px;
}

.why ul li {
  margin-top: 100px;
  line-height: 50px;
  font-size: 60px;
}

.piece {
  float: left;
}

.piece p {
  height: 50px;
}

.func .leftdiv h2 {
  margin: 15px 0 35px 0;
  line-height: 50px;
}

.secondp {
  margin-top: -50px;
  margin-bottom: -10px;
}

.func .rightdiv .piece {
  margin-right: -100px;
}

.piece img {
  display: block;
  margin: auto;
}

.teamlist {
  position: relative;
  margin: 0 auto;
  width: 900px;
  height: 900px;
  color: red;
}

.logo {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-35%, -10%);
  width: 700px;
  height: 200px;
}

.logo h2 {
  margin: 25px;
  font-size: 60px;
  color: rgb(227, 240, 237);
}

.logo img {
  float: left;
  margin-right: 10px;
  max-width: 40%;
  max-height: 40%;
}

.teamitem {
  float: left;
  position: relative;
  margin: 180px 50px;
  margin-top: 80px;
  width: 200px;
  height: 200px;
  text-align: center;
}

.teamitem img {
  width: 200px;
  height: 200px;
}

.teamitem h2, .teamitem h3 {
  margin: 0;
  color: white;
  line-height: 40px;
}